.img-jmbo{
    background-image: url('../img/portada.jpg');
    background-size: 100%, 100%;
    
}

body{
    background: #F7F5F4 ;
}

.blue {
    color: blue;
  }
  
  .base{
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 1000px;/** acomoda la imagen*/
      margin: auto;
  }

  .titulo{
    text-align: center;
      color: rgb(205, 224, 245);
      margin: auto;
      
      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
  }

  .bloque{
    
    display: block;
    width: 45%;
    height: 220px;
    
    
    background: rgb(248, 248, 241);
    position: relative;
    overflow: hidden;
    float: left;
    margin: 1.5%;
    cursor: pointer;
}